node_modules
course-manager/.browserslistrc
course-manager/.editorconfig
course-manager/e2e/protractor.conf.js
course-manager/e2e/src/app.e2e-spec.ts
course-manager/e2e/src/app.po.ts
course-manager/e2e/tsconfig.json
course-manager/karma.conf.js
course-manager/README.md
course-manager/src/assets/.gitkeep
course-manager/src/environments/environment.prod.ts
course-manager/src/environments/environment.ts
course-manager/src/favicon.ico
course-manager/src/polyfills.ts
course-manager/src/test.ts
course-manager/tsconfig.app.json
course-manager/tsconfig.json
course-manager/tsconfig.spec.json
course-manager/tslint.json
